extends layout

block content

  nav.navbar.bg-primary
    .container-fluid
      a#a-title.navbar-brand(href='/') Algorath
      i.fa.fa-bar-chart(style='font-size:24px;color:white')
      a#a-chart.mr-auto(href='/chart') Generate chart


  form(id='friends-form' method='post' action='/friend') 
    .container-fluid.text-center
      .row.content
        .col-sm-3.sidenav
            .container#selected-info.user-info
              .card
                img#avatar.card-img-top(src='https://www.w3schools.com/bootstrap4/img_avatar3.png') 
                .container.card-body
                  h5 Id: #{idSelected}
                  h5 Name : #{nameSelected}
        .col-sm-6.text-left 
          #message-info.alert.alert-primary.visible(role='alert')
            | Select from the list a person!
          #table1.container.main-table.my-custom-scrollbar.table-wrapper-scroll-y
            table.table.table-striped.table-hover.border.border-primary.table-bordered
                thead.bg-primary
                  tr
                    th ID 
                    th NAME 
                    th SELECT
                tbody
                  each row in rows
                    tr
                      td= row['id']
                      td= row['name']
                      td
                       input(type='radio' name="rowSelect" value=row['id'])
        .col-sm-3.sidenav 
            .container#selected-info.user-info.hide
                  .card
                        img#avatar.card-img-top(src='https://www.w3schools.com/bootstrap4/img_avatar5.png') 
                        .container.card-body
                          h5.selected-id
                          h5.selected-name
                          input(type='hidden' name='id1' value= idSelected)
                          input.selected-id(type='hidden' name='id2' value='')
                          button.float-right.btn.btn-primary(type='submit' name='button' value='confirm') CONFIRM CONNECTION
              
      .row.content
        .col-sm
          

