extends layout

block content
  
  nav.navbar.navbar-expand-lg.navbar-light.bg-primary.justify-content-end
    .container.add-user
      form.form-inline(method='POST' action='/addUser')
        .input-group
          .input-group-prepend
            input.form-control(type='text' id='userName' name='userName' placeholder='Enter new user name' aria required minlength="5" maxlength="15" 
                                 oninvalid="this.setCustomValidity('Please, enter name between 5 and 15 characters')"
                                 oninput="setCustomValidity('')")
            button.btn.btn-dark(type='submit')
               | +

  .container-fluid.text-center
    .row.content
      .col-sm-2.sidenav

      .col-sm-8.text-left 
          #table1.container.main-table.my-custom-scrollbar.table-wrapper-scroll-y
            table.table.table-striped.table-hover.border.border-primary.table-bordered
                thead.thead-dark
                  tr
                    th ID 
                    th NAME 
                    th SELECT
                tbody
                  each row in rows
                    tr
                      td= row['id']
                      td= row['name']
                      td
                       input(type='radio' name="rowSelect" value=row['id'])
      
      .col-sm-2.sidenav
        form(id='friends-form' method='get' action='/user')
              .container#selected-info.user-info.hide
                .card
                  img#avatar.card-img-top(src='https://www.w3schools.com/bootstrap4/img_avatar3.png') 
                  .container.card-body
                    h5.selected-id
                    h5.selected-name
                    |
                    hr
                    | 
                    button.btn.btn-primary(type='submit' name='button' value='find')
                      | Find friends
                    button.float-right.btn.btn-primary(type='submit' name='button' value='add')
                      | Add friend
                    input.selected-id(type='hidden' name='id' value='')
                    input.selected-name(type='hidden' name='name' value='')
 

